@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --bg-color: #1f242d;
    --second-bg-color: #333a48; 
    --text-color: #fff;
    --main-color: #0ef; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif; 
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--text-color); 
    /*transition: background-color .4s;*/
}

section {
    min-height: 100vh;
    width: 100vw;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 1.56rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.06rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 2.25rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 480px; 
    animation: floatImage 4s ease-in-out infinite;
    border-radius: .75rem;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}
.home-content {
    width: 90vh;
    margin-right: 5rem;
}

.home-content h3 {
    font-size: 2rem;
    font-weight: 700;
}

.home-content h3:nth-last-of-type(2) {
    margin-bottom: 2rem;
}

.home-content h1 {
    font-size: 3.5rem;
    font-weight: 700; 
    line-height: 1.3;
}

.home-content p {
    font-size: 1rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: .25rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    z-index: 1;
    position: relative;
    cursor: pointer;
}

.btn:hover {
    box-shadow: none;
}

.btn::after {
    position: absolute;
    content: '';
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    z-index: -1;
    transform-origin: center;
    transform: scale(0);
    border-radius: .25rem;
    transition: .3s;
}

.btn:hover::after {
    transform: scale(1);
}

.section-heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.about {
    background: var(--second-bg-color);
}

.highlight {
    color: var(--main-color);
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    align-items: center;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.about-img {
    width: 480px;
    border-radius: 0.75rem;
    justify-self: center;
}

.about-heading{
    font-size: 1.25rem;
    margin-bottom: .75rem;
}

.about-description {
    text-align: justify;
    padding-right: 6rem;
    margin-bottom: 2rem;
}

.about-info {
    display: grid;
    grid-template-columns: repeat(3, 140px);
    column-gap: .5rem;
    margin-bottom: 3rem;
}

.about-box {
    text-align: center;
    border-radius: .25rem;
    padding: 1rem 1.25rem;
    background-color: var(--bg-color);
}

.about-icon {
    font-size: 1.5rem;
    color: var(--main-color);
    margin-bottom: .75rem;
}

.about-title {
    font-size: .875rem;
}

.about-subtitle {
    font-size: .813rem;
    color: #C2C2C2;
}

.heading {
    text-align: center;
    font-size: 2.8rem;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 345px);
    justify-content: center;
    gap: 1.5rem;
    max-width: 1120px;
    row-gap: 2rem;
    margin-inline: auto;
}

.services-card {
    background-color: var(--second-bg-color);
    padding: 3.5rem 1.5rem;
    box-shadow: 0 12px 24px #001314;
    text-align: center;
    border: .2rem solid var(--bg-color);
}

/*.services-card-hover-effect:hover {
    border-color: var(--main-color);
    transform: scale(1.00);
    box-shadow: 0 0 0;
}*/

.services-icon {
    display: inline-block;
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 1.5rem;
}

.services-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.services-description {
    margin-bottom: 3rem;
}

/*Modals*/

.services-modal {
    position: fixed;
    inset: 0;
    background-color: hsl(220, 17%, 24%, .1);
    backdrop-filter: blur(24px);
    display: grid;
    place-items: center;
    padding: 2rem 1.5rem;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transition: opacity .4s, visibility .4s;
}

.services-modal-content:hover{
    border-color: var(--main-color);
    transform: scale(1.01);
}

.services-modal-content {
    max-height: 480px;
    width: 400px;
    position: relative;
    background-color: var(--second-bg-color);
    padding: 5.5rem 2rem;
    border: .2rem solid var(--second-bg-color);
    overflow: hidden;
    transition: background-color .4s;
    transition: .9s ease;
}

.services-modal-title {
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
}

.services-modal-list {
    margin-left: 1rem;
}

.services-modal-item {
    text-align: initial;
    list-style: square;
}

.services-modal-item::marker {
    color: var(--main-color)
}

.services-modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    color: var(--first-color);
    cursor: pointer;
}

.portfolio {
    background: var(--second-bg-color);
    padding-bottom: 5rem;
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 26rem);
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.portfolio-box {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    width: 400px
}

.img-card{
    position: relative;
    max-width: 100%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.overlay{
    transition: 1 ease;
}

.info {
    z-index: 777; 
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    color: var(--second-bg-color);
    transform: translate(20px);
    opacity: 0;
    transition: .5s ease;
}

.img-card:hover .info{
    transform: translate(0);
    opacity: 1; 
}

.info h3{
    font-size: 1.5rem;
    color: var(--text-color);
}

.info span{
    font-size: 1.2rem;
    color: var(--text-color);
}

.portfolio-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-modal{
    z-index: 999999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--transparent-color-01);
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.portfolio-modal-body{
    position: relative;
    background: var(--bg-color);
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.portfolio-close-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    font-size: 2rem;
}

.portfolio-modal-body h3 {
    font-size: 1.5em;
}

.portfolio-modal-body img{
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
}

.active-modal {
    opacity: 1;
    visibility: visible;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 50rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .2rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%; 
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-icon a i {
    font-size: 1.5rem;
    color: var(--second-bg-color);
}

/*  BREAKPOINTS */
@media (max-width: 1300px) {
    .portfolio-container{
        display: flex;
        flex-wrap: wrap;
    }
    .home-img img, .about-img{
        width: 400px;
    }
}

@media (max-width: 1150px) {
    .home-content h3{
        font-size: 1.7rem;
    }
    .services-container{
        grid-template-columns: repeat(3, 300px);
    }
    .services-title{
        font-size: 1.5rem;
    }
    .home-img img, .about-img{
        width: 300px;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 850px) {
    

    
    
    
}

@media (max-width: 800px){
    html {
        font-size: 50%;
    }
    section{
        padding: 3rem;
    }
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 1.2rem;
        margin: 1rem 0;
    }
    .btn{
        font-size: 1.5rem;
    }

    .about-container, .home{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .home-content h3{
        font-size: 1.5rem;
        padding-top: 3rem;
    }

    .home-content h1{
        font-size: 3rem;
        align-self: center;
    }

    .home-content p {
        font-size: 1.5rem;
    }

    .social-media a {
        font-size: 2rem;
    }

    .about h2{
        font-size: 3rem;
        margin: 0;
    }

    .about-data h3{
        font-size: 2rem;
        padding-top: 1rem;
    }

    .about-data p, .services-container p, .footer p{
        font-size: 1.5rem;
    }

    .services-container{
        display: flex;
        flex-wrap: wrap;
        width: 345px;
    }

    .contact form .input-box input, .contact form textarea {
        width: 100%;
        font-size: 1.7rem;
    }

    .footer a {
        font-size: 2rem;
    }
}


@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}

